@import '../padronizacao/organizacao.scss';

*{
  margin: 0;
  padding: 0;
  font-family: $fonteUsadaEmTodoSite;
  scroll-behavior: $padrãoRolamentoDoSite;
}
.inicio {
  display: flex;

  .containerInicio {
    flex: 6;

    .widgets,
    .graficos {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .graficos {
      padding: 5px 20px;
    }

    .containerLista {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .tituloLista {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
