@import '../padronizacao/organizacao.scss';

*{
  margin: 0;
  padding: 0;
  scroll-behavior: $padrãoRolamentoDoSite;
  font-family: $fonteUsadaEmTodoSite;
}
.unico {
  display: flex;
  width: 100%;

  .containerUnico {
    flex: 6;

    .topo {
      padding: clamp(1rem, 2vw, 2rem);
      display: flex;
      gap: clamp(1rem, 2vw, 2rem);

      .esquerda {
        flex: 1;
        -webkit-box-shadow: 0.2rem 0.4rem 1rem 0.1rem rgba(0, 0, 0, 0.47);
        box-shadow: 0.2rem 0.4rem 1rem 0.1rem rgba(201, 201, 201, 0.47);
        padding: clamp(1rem, 2vw, 2rem);
        position: relative;

        .botaoEditar {
          position: absolute;
          top: 0;
          right: 0;
          padding: clamp(0.25rem, 0.5vw, 0.5rem);
          font-size: clamp(0.75rem, 1vw, 1rem);
          color: #7451f8;
          background-color: #7551f818;
          cursor: pointer;
          border-radius: 0 0 0 0.5rem;
        }

        .item {
          display: flex;
          gap: clamp(1rem, 2vw, 2rem);

          .imagemItem {
            width: clamp(5vw, 19vw, 25vw);
            height: clamp(5vw, 19vw, 25vw);
            border-radius: 50%;
            object-fit: cover;
          }

          .detalhes {
            .tituloItem {
              margin-bottom: clamp(0.5rem, 1vw, 1rem);
              font-size: 4em;
              color: #555;
            }

            .itemDetalhe {
              margin-bottom: clamp(0.5rem, 1vw, 1rem);
              font-size: clamp(0.875rem, 1.25vw, 1rem);

              .chaveItem {
                font-weight: bold;
                color: gray;
                margin-right: clamp(0.25rem, 0.5vw, 0.5rem);
              }

              .valorItem {
                font-weight: 300;
              }
            }
          }
        }
      }

      .direita {
        flex: 2;
      }
    }

    .baixo {
      -webkit-box-shadow: 0.2rem 0.4rem 1rem 0.1rem rgba(0, 0, 0, 0.47);
      box-shadow: 0.2rem 0.4rem 1rem 0.1rem rgba(201, 201, 201, 0.47);
      padding: clamp(1rem, 2vw, 2rem);
      margin: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 2vw, 2rem);
    }

    .titulo {
      font-size: clamp(1rem, 2vw, 1.5rem);
      color: lightgray;
      margin-bottom: clamp(1rem, 2vw, 2rem);
    }
  }
}
