$corDaLupaDaBarraDePesquisa: #ffffff;
$corDeFundoNavLateral: #220f3a;
$corDasFontesNavLateral: #f1f1f1;
$coresDoIconesBarraLateral: #7451f8;
$corVerdeAprovado: #008000;
$corFundoVerdeClaro: #00ff001a;
$corAmarelo: #ffd700;
$corFundoAmareloClaro: #ffd7001a;
$corVermelho: #ff0000;
$corFundoVermelhoClaro: #ff00001a;
$corAzulEscuro: #00008b;
$corBordaAzulClaro: #00008b99;
$corBordaVermelhoClaro: #dc143c99;
$corCinza: #808080;
$corCinzaClaro: #a0a0a0;
$corSombraEscura: #000000;
$corSombraClaro: #c9c9c9;
$corFundoCinzaClaro: #f1f1f1;
$corCinzaClaroEscuro: #a0a0a0; // Incluído para correspondência com a variável no arquivo style.scss
$corVerde: #00ff00; // Adicionado como substituto de verde
$corVerdeClaro: #00ff001a; // Adicionado como substituto de verde claro
$corAmareloClaro: #ffd7001a; // Adicionado como substituto de amarelo claro
$corVermelhoClaro: #ff00001a; // Adicionado como substituto de vermelho claro
$corAzulClaro: #00008b99; // Adicionado como substituto de azul claro
$corAzulEscuro: #00008b; // Incluído para combinação de azul escuro
$corSombraCinzaClaro: #c9c9c9; // Adicionado como substituto de sombra claro
